$footer-size: 60px;

body,
html {
  width: 100%;
  height: 100%;
  line-height: 1.15;
}

body {
  padding-top: 3.8rem;
}

body:after {
  content: "";
  opacity: 0.5;
  background: url(../img/1000px-WordPress_logo.svg.png) no-repeat fixed #bbb;
  background-position: center center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

#app {
  min-height: calc(100vh - #{$footer-size});
  padding-bottom: 2*$footer-size;
}

.hide-on-mobile {
  @media (max-width: 40.0rem) {
    display: none;
  }
}
.show-on-mobile {
  @media (max-width: 40.0rem) {
    max-width: 100% !important;
  }
}
header {
  background-color: $bg-medium;
  color: $col-medium;

  .checklist-name {
    text-align: center;
    padding: 1rem;
  }

  .form-control {
    background-color: $dark-bg;
    color: $dark-content;

    &::placeholder {
      color: $input-placeholder;
    }

  }

  .button {
    margin-right: 1rem;

    i.fa {
      margin-right: 10px;
    }

  }

  .status {

    i.fa {
      margin-right: 10px;
      background: $light-bg;
    }

    i.high {
      color: $red;
    }

    i.medium {
      color: $yellow;
    }

    i.low {
      color: $green;
    }

  }

  label {
    font-size: 1rem;
    font-weight: bold;
  }

}

.categories {
  width: 90%;
  margin: auto;

  h2 {
    margin-top: 3rem;
    text-transform: uppercase;

    &.group-title {
      color: $header-bg-input;
      border-bottom: solid 1px $header-bg-input;

      & .go-top {
        text-transform: none;
        transition: all 0.2s ease;
        line-height: 3.2;
        text-decoration: none;

        &:hover {
          color: $grey;
        }

      }

    }

  }

  .category-title {
    color: $header-bg-input;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: solid 1px $header-bg-input;
  }

  .task {

    p {
      margin-bottom: 0.5rem;
      cursor: pointer;
    }

    i.fa {
      cursor: pointer;
    }

    .taskHeader {

      i.fa {
        margin-right: .5rem;
      }

    }

    i.not-checked {
      padding-right: 2.84px
    }

    i.checked {
      color: $green;
      text-decoration: none;

      &.high {
        color: $red;
      }

      &.medium {
        color: $yellow;
      }

      &.low {
        color: $green;
      }

    }
    i.not-checked {
      color: $grey;
      // opacity: 0.5;

      &.high {
        color: $red;
      }

      &.medium {
        color: $yellow;
      }

      &.low {
        color: $green;
      }

    }
    span.checked {
      text-decoration: line-through;
    }
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-size;
  margin-top: -$footer-size;
  text-align: center;
  background-color: $dark-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;

  p {
    margin: 0;
    color: $card-header-content;
    line-height: 2rem;
  }

  a {
    color: $dark-content;

    &:hover {
      color: $card-header-content;
    }

    &:visited {
      color: $dark-content;
    }
  }

  .heart {
    color: $red;
  }

}

.for-print {
  display: none !important;
}

.taskHeader {
  cursor: pointer;
  flex-grow: 1;
}

.foldIcon {
  margin: -.75rem -1rem -.75rem 0;
  width: 3rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  i {
    display: block;
  }
}
