.github-container {
  margin-right: 3rem;

  a {
    display: inline-block;
    margin-right: .25rem;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner {
  svg {
    fill: white;
    color: #151513;
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
    height: 3.8rem;
    width: 3.8rem;
    z-index: 1500;
  }

  .octo-arm {
    transform-origin: 130px 106px;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.card {
  border-color: $card-header-bg;
  border-radius: 0;
  background: $card-bg;

  .card-header {
    padding: .75rem 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    height: 100%;
  }
  
  .card-body {
    padding: 1rem 3rem 1rem 1rem;
  }

  .card-footer {
    padding: .5rem 1rem;
  }
}

.tags {
  padding: .175rem .75rem;
  font-size: 70%;
}

.explicationlist {
  list-style-type: square;

  li {
    list-style-type: square;

    strong {
      font-weight: 500;
    }
  }

  
}

pre {
  background: $code-bg;
  padding: 1em;
  color: #000;
}