.card {
  border-color: $card-header-bg;
  border-radius: 0;
  background: $card-bg;

  .card-header {
    padding: .75rem 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    height: 100%;
  }
  
  .card-body {
    padding: 1rem 3rem 1rem 1rem;
  }

  .card-footer {
    padding: .5rem 1rem;
  }
}

.tags {
  padding: .175rem .75rem;
  font-size: 70%;
}